[user]
	name = Andrew Emmons
	email = andrewcemmons@gmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[core]
	excludesfile = /Users/andrewemmons/.gitignore_global
	editor = vim
[merge]
	conflictstyle = diff3
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
